In [4]:
import pandas as pd
import numpy as np

df = pd.read_excel("실습파일.xlsx")

In [5]:
print(df.columns)

for column_name in df.columns:
    print(column_name)

Index(['first', 'second', 'third', 'fourth', 'fifth'], dtype='object')
first
second
third
fourth
fifth

In [6]:
df['first']

0         나은 안녕
1            송이
2    생크림 나은 케이크
3         민지 안녕
4         송이 상품
5       천재송이 안녕
6        민지 떡볶이
7         민지 안녕
8         민지네 집
Name: first, dtype: object

In [7]:
for column_name in df.columns:
    print(column_name)
    print(df[column_name])
    print("==================")

first
0         나은 안녕
1            송이
2    생크림 나은 케이크
3         민지 안녕
4         송이 상품
5       천재송이 안녕
6        민지 떡볶이
7         민지 안녕
8         민지네 집
Name: first, dtype: object
==================
second
0          0
1      나은 바이
2    편한 민지 집
3     민지 이종석
4      나은 체리
5     민지 떡볶이
6          0
7          0
8          0
Name: second, dtype: object
==================
third
0        0
1        0
2    송이 딸기
3     송이버섯
4        0
5    나은 체리
6        0
7        0
8        0
Name: third, dtype: object
==================
fourth
0             0
1             0
2    맛있는 민지 파스타
3    [대전] 송이 남자
4             0
5    생크림 나은 케이크
6             0
7             0
8             0
Name: fourth, dtype: object
==================
fifth
0        0
1        0
2        0
3    나은 안녕
4        0
5        0
6        0
7        0
8        0
Name: fifth, dtype: object
==================

In [8]:
df['first'].str.contains('나은')

0     True
1    False
2     True
3    False
4    False
5    False
6    False
7    False
8    False
Name: first, dtype: bool

In [9]:
list1 = ['송이', '나은', '민지']

for column_name in df.columns:
    print(column_name)
    for list_name in list1:
        print(list_name)
        print(df[column_name].str.contains(list_name))

first
송이
0    False
1     True
2    False
3    False
4     True
5     True
6    False
7    False
8    False
Name: first, dtype: bool
나은
0     True
1    False
2     True
3    False
4    False
5    False
6    False
7    False
8    False
Name: first, dtype: bool
민지
0    False
1    False
2    False
3     True
4    False
5    False
6     True
7     True
8     True
Name: first, dtype: bool
second
송이
0      NaN
1    False
2    False
3    False
4    False
5    False
6      NaN
7      NaN
8      NaN
Name: second, dtype: object
나은
0      NaN
1     True
2    False
3    False
4     True
5    False
6      NaN
7      NaN
8      NaN
Name: second, dtype: object
민지
0      NaN
1    False
2     True
3     True
4    False
5     True
6      NaN
7      NaN
8      NaN
Name: second, dtype: object
third
송이
0      NaN
1      NaN
2     True
3     True
4      NaN
5    False
6      NaN
7      NaN
8      NaN
Name: third, dtype: object
나은
0      NaN
1      NaN
2    False
3    False
4      NaN
5     True
6      NaN
7      NaN
8      NaN
Name: third, dtype: object
민지
0      NaN
1      NaN
2    False
3    False
4      NaN
5    False
6      NaN
7      NaN
8      NaN
Name: third, dtype: object
fourth
송이
0      NaN
1      NaN
2    False
3     True
4      NaN
5    False
6      NaN
7      NaN
8      NaN
Name: fourth, dtype: object
나은
0      NaN
1      NaN
2    False
3    False
4      NaN
5     True
6      NaN
7      NaN
8      NaN
Name: fourth, dtype: object
민지
0      NaN
1      NaN
2     True
3    False
4      NaN
5    False
6      NaN
7      NaN
8      NaN
Name: fourth, dtype: object
fifth
송이
0      NaN
1      NaN
2      NaN
3    False
4      NaN
5      NaN
6      NaN
7      NaN
8      NaN
Name: fifth, dtype: object
나은
0     NaN
1     NaN
2     NaN
3    True
4     NaN
5     NaN
6     NaN
7     NaN
8     NaN
Name: fifth, dtype: object
민지
0      NaN
1      NaN
2      NaN
3    False
4      NaN
5      NaN
6      NaN
7      NaN
8      NaN
Name: fifth, dtype: object

In [10]:
df['first'] = df['first'].str.replace(r'(^.*나은.+$)', '나은')
print(df['first'])

0         나은
1         송이
2         나은
3      민지 안녕
4      송이 상품
5    천재송이 안녕
6     민지 떡볶이
7      민지 안녕
8      민지네 집
Name: first, dtype: object

In [14]:
list1 = ['나은','송이','민지']

print(df)
print('==========================')

for column_name in df.columns:
    for list_name in list1:
        df[column_name] = df[column_name].str.replace(r'(^.*'+list_name+'.+$)', list_name)
        
print(df)
print('=========================')

     first   second  third      fourth  fifth
0       나은        0      0           0      0
1       송이    나은 바이      0           0      0
2       나은  편한 민지 집  송이 딸기  맛있는 민지 파스타      0
3    민지 안녕   민지 이종석   송이버섯  [대전] 송이 남자  나은 안녕
4    송이 상품    나은 체리      0           0      0
5  천재송이 안녕   민지 떡볶이  나은 체리  생크림 나은 케이크      0
6   민지 떡볶이        0      0           0      0
7    민지 안녕        0      0           0      0
8    민지네 집        0      0           0      0
==========================
  first second third fourth fifth
0    나은    NaN   NaN    NaN   NaN
1    송이     나은   NaN    NaN   NaN
2    나은     민지    송이     민지   NaN
3    민지     민지    송이     송이    나은
4    송이     나은   NaN    NaN   NaN
5    송이     민지    나은     나은   NaN
6    민지    NaN   NaN    NaN   NaN
7    민지    NaN   NaN    NaN   NaN
8    민지    NaN   NaN    NaN   NaN
=========================