## 학습목표
 * 반복문의 이해 및 활용 (for)
 * range 함수 이해

In [81]:
# 반복문을 쓰는 이유:

# *을 1개부터 100개까지 찍으세요
# 방법 1: 직접 작성
print("*")
print("**")
print("***")

# 방법 2: 반복문 사용
# n개 까지 별표를 찍으세요
x = ""
star = list(range(1,int(input())+1)) # input + 1하는 이유: range는 (이상,미만)이라
for i in star:
  if i <= max(star):
    x = x + "*"
  print(x)

*
**
***
55
*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************
****************
*****************
******************
*******************
********************
*********************
**********************
***********************
************************
*************************
**************************
***************************
****************************
*****************************
******************************
*******************************
********************************
*********************************
**********************************
***********************************
************************************
*************************************
**************************************
***************************************
****************************************
*****************************************
******************************************
*******************************************
********************************************
*********************************************
**********************************************
***********************************************
************************************************
*************************************************
**************************************************
***************************************************
****************************************************
*****************************************************
******************************************************
*******************************************************

### for 반복문 
 - 리스트, 문자열 등등 순회 가능한 객체를 순회하면서 값을 처리할 때 사용
 - 아래와 같은 문법으로 사용
 - 여기서 i는 매번 수행 될 때마다, a의 아이템으로 순차적으로 변경 됨
 - 모든 아이템이 순회되면 for 블록 종료
 
```python
a = [1, 2, 4, 3, 5]
for i in a:
    print (i, i * 2)
```

In [2]:
# 숫자형: 반복 안 됨
# TypeError: 'int' object is not iterable
a = 1 
iter(a)

# 문자형, dataframe, tuple, list, dictionary는 모두 가능

TypeError: 'int' object is not iterable

In [4]:
# 시퀀스 자료형(순서가 있는 자료) 반복문 사용 가능
a = [1, 2, 4, 3, 5]
for i in a:
    print (i, i * 2)
print('hahah')

# 아래와 같이 작성해도 됨
for i in [1, 2, 4, 3, 5]:
    print (i, i * 2)
print('hahah')

1 2
2 4
4 8
3 6
5 10
hahah
1 2
2 4
4 8
3 6
5 10
hahah

#### 문자열의 아이템 출력하기
 - 문자열의 경우 순회 가능, 리스트와 유사하게 순회 가능

In [5]:
for x in 'hello world':
    print(x)

h
e
l
l
o

w
o
r
l
d

In [6]:
# x 대신 다른 것 사용해도 됨
a = 'hello world'
for character in a:
    print(character)

h
e
l
l
o

w
o
r
l
d

#### 리스트 아이템 출력하기

In [9]:
a = [1, 10, 3, 4, 5]
for num in a:
    if num % 2 == 0:
        print(num/2)
    else:
        print(num+1)
        
# 헷갈리면 print문 사용하라
a = [1, 10, 3, 4, 5]
for num in a:
    print("현재 num:", num)
    if num % 2 == 0:
        print(num/2)
    else:
        print(num+1)

2
5.0
4
2.0
6
현재 num: 1
2
현재 num: 10
5.0
현재 num: 3
4
현재 num: 4
2.0
현재 num: 5
6

#### dict의 아이템 출력하기
  - dictionary의 경우 기본적으로 순회 하게 되면 key값을 참조
  - keys()함수를 이용하여 key 값만 순회 가능
  - values()함수를 이용하여 value 값만 순회 가능
  - items()함수를 이용하여 tuple형태로 key, value 순회 가능

In [12]:
a = {'korea': 'seoul', 'japan': 'tokyo', 'canada': 'ottawa'}
for key in a:
    print(key, a[key])

korea seoul
japan tokyo
canada ottawa

In [13]:
for key in a:
    print(key)

korea
japan
canada

In [14]:
for value in a.values():
    print(value)

seoul
tokyo
ottawa

In [15]:
list(a.items())

[('korea', 'seoul'), ('japan', 'tokyo'), ('canada', 'ottawa')]

In [16]:
for key, value in a.items():
    print(key, value)

korea seoul
japan tokyo
canada ottawa

#### for에서 index 사용하기
  - 기본적으로 for에 리스트를 순회하는 경우, 값만 추출 함
  - 아래와 같은 코드로 인덱스와 값 모두 사용 가능(enumerate 함수 이용)

```python
a = [1, 2, 4, 3, 5]
for i, val in enumerate(a):
    print i, val
```

In [17]:
a = [1, 2, 3, 4, 5]
for index, num in enumerate(a):
    if index > 3: # index니까 0번째부터 시작
        print(index, num)

4 5

In [45]:
sum = 0
for i in [2,3,4]:
    sum = sum+i
print(sum)

9

In [57]:
# 반복문 활용해서 금 개수 세어보기
jewellery = "금은금금금은금은금금금은금"

sum = 0
for i in jewellery:
    print(i)

9

In [50]:
jewellery = "금은금금금은금은금금금은금"

sum = 0
for i in jewellery:
    if i == "금":
        sum = sum + 1
        
print(sum)

금
은
금
금
금
은
금
은
금
금
금
은
금

In [62]:
jewellery = "금은금금금은금은금금금은금"

sum = 0
for i in jewellery:
    print(i)
    if i == "금":
        print("금입니다.")
        sum = sum+2
        print("The current sum: ", sum)
    else:
        print("금이 아닙니다.")
        pass
    print("The final sum: ", sum)

# print는 이해하기 쉽게 적은 것이고 코드 완료 후 주석 처리 하면 됨

금
금입니다.
The current sum:  2
The final sum:  2
은
금이 아닙니다.
The final sum:  2
금
금입니다.
The current sum:  4
The final sum:  4
금
금입니다.
The current sum:  6
The final sum:  6
금
금입니다.
The current sum:  8
The final sum:  8
은
금이 아닙니다.
The final sum:  8
금
금입니다.
The current sum:  10
The final sum:  10
은
금이 아닙니다.
The final sum:  10
금
금입니다.
The current sum:  12
The final sum:  12
금
금입니다.
The current sum:  14
The final sum:  14
금
금입니다.
The current sum:  16
The final sum:  16
은
금이 아닙니다.
The final sum:  16
금
금입니다.
The current sum:  18
The final sum:  18

####  break
  - for의 경우에도 특정 조건일 때, loop 종료가 가능

In [66]:
a = [100, 90, 80, 70, 60, 50]
for num in a:
    if num < 80:
        break 
    print(num)

100
90
80

#### continue
 - 해당 아이템을 건너 뛰고 싶을 때 사용

In [67]:
a = [100, 90, 80, 70, 60, 50]
for num in a:
    if num >= 60 and num <= 70:
        continue
    print(num)

100
90
80
50

#### loop 중첩
  - 반복문의 경우에도 중첩하여 사용 가능
  - 중첩이라는 것은 반복문 블록의 코드안에 또 반복문의 코드가 작성되는 것을 의미
  - 이런 경우, 내부 루프는 외부 루프가 수행되는 만큼 반복 수행 됨
  - 또한 중첩의 경우 무한히 가능

```python
a = [1, 2, 4]
for i in a:
    for j in a:
        print i * j
```

In [68]:
a = [1,2,4]
for i in a:
    for j in a:
        print(i*j)

1
2
4
2
4
8
4
8
16

#### 구구단 출력하기

In [69]:
x = [2,3,4,5,6,7,8,9]
y = [1,2,3,4,5,6,7,8,9]

for i in x:
    for j in y:
        print(i, 'x', j, '=', i*j)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

#### collection의 길이
 - len() 내장함수로 계산 가능
 - 내장함수란 파이썬 내부에 구현되어 있어서, import하지 않고도 사용 가능한 함수를 의미
 - abs, len, type, range 등이 있음 (과정 진행하면서 필요할 때마다 다룰 예정)

In [75]:
a = [1,2,3,4,5,1]
print(a)
print(len(a))

b = "hello world"
print(b)
print(len(b))

[1, 2, 3, 4, 5, 1]
6
hello world
11

#### range 함수
  - 리스트를 쉽게 만들 수 있는 내장함수
  - 주어진 값에 따라 다양한 결과를 반환
 
```python
range(10)       -> [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
range(2, 10)    -> [2, 3, 4, 5, 6, 7, 8, 9] 
range(2, 10, 3) -> [2, 5, 8] 
```

* 1 - 100까지의 리스트 생성하기

In [76]:
list(range(101))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

* **연습문제** 1부터 100사이의 5의 배수만을 갖는 리스트를 생성하시오

In [78]:
list(range(5, 101, 5))

[5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100]

### if & for 연습문제
   
  1. 구구단을 2 - 9단까지 출력하시오.
  2. 1 - 100까지 정수 중 2의 배수 또는 11의 배수를 모두 출력하시오. 
  4. a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 에서 최대값과 최소값을 찾으시오. (sorted, sort 사용 금지)
  5. a = [22, 1, 3, 4, 7, 98, 21, 55, 87, 99, 19, 20, 45] 에서 평균을 구하세요.

In [79]:
# 1. 구구단 생성
x = 2
while x <= 9:
    y = 1
    while y <= 9:
        print(x, 'x', y, '=', x*y)
        y += 1
    x += 1

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [80]:
# 2. 1-100 정수 중, 2의 배수 또는 11의 배수를 모두 출력
nums = list(range(1,101))
for x in nums:
    if x % 2 == 0 or x % 11 == 0:
        print(x)

2
4
6
8
10
11
12
14
16
18
20
22
24
26
28
30
32
33
34
36
38
40
42
44
46
48
50
52
54
55
56
58
60
62
64
66
68
70
72
74
76
77
78
80
82
84
86
88
90
92
94
96
98
99
100